In [46]:
#1-for
for i in range(0,5):
    print(5* '*')

*****
*****
*****
*****
*****

In [47]:
#1-while
n= 1
while n<=5:
    print(5* '*')
    n = n+1

*****
*****
*****
*****
*****

In [48]:
#2-for
for i in range(1,6):
    a = 5* (" "+str(i))
    print(a)

 1 1 1 1 1
 2 2 2 2 2
 3 3 3 3 3
 4 4 4 4 4
 5 5 5 5 5

In [49]:
#2-while
n = 1
while n<=5:
    a = 5 * (" "+str(n))
    print(a)
    n = n+1

 1 1 1 1 1
 2 2 2 2 2
 3 3 3 3 3
 4 4 4 4 4
 5 5 5 5 5

In [50]:
#3-for
for i in range(1,6):
    st = ""
    for j in range(1,6):
        st+=" "+str(j)
    print(st)

 1 2 3 4 5
 1 2 3 4 5
 1 2 3 4 5
 1 2 3 4 5
 1 2 3 4 5

In [51]:
#3-while
n0 = 1
while n0<=5:
    n = 1
    st = ""
    while n<=5:
        st+=" "+str(n)        
        n = n+1
    print(st)
    n0 = n0+1

 1 2 3 4 5
 1 2 3 4 5
 1 2 3 4 5
 1 2 3 4 5
 1 2 3 4 5

In [52]:
#4-for
lst = ['A','B','C','D','E']
for i in lst:
    print(5* (" "+i))

 A A A A A
 B B B B B
 C C C C C
 D D D D D
 E E E E E

In [53]:
#4-while
lst = ['A','B','C','D','E']
n = 0
while n<5:
    print(5*(" "+lst[n]))
    n = n+1

 A A A A A
 B B B B B
 C C C C C
 D D D D D
 E E E E E

In [54]:
#5-for
for i in range(1,6):
    lst = ['A','B','C','D','E']
    st = ""
    for i in lst:
        st += " "+i
    print(st)

 A B C D E
 A B C D E
 A B C D E
 A B C D E
 A B C D E

In [55]:
#5-while
n0 = 1
while n0<=5:
    lst = ['A','B','C','D','E']
    n = 0
    st = ""
    while n<5:
        st+=" "+lst[n]
        n = n+1
    print(st)
    n0 = n0+1

 A B C D E
 A B C D E
 A B C D E
 A B C D E
 A B C D E

In [56]:
#6-for
for i in range(5,0,-1):
    a = 5*(" "+str(i))
    print(a)

 5 5 5 5 5
 4 4 4 4 4
 3 3 3 3 3
 2 2 2 2 2
 1 1 1 1 1

In [57]:
#6-while
n = 5
while n>=1:
    a = 5* (" "+str(n))
    print(a)
    n = n-1

 5 5 5 5 5
 4 4 4 4 4
 3 3 3 3 3
 2 2 2 2 2
 1 1 1 1 1

In [58]:
#7-for
for i in range(1,6):
    st = ""
    for j in range(5,0,-1):
        st += " " + str(j)
    print(st)

 5 4 3 2 1
 5 4 3 2 1
 5 4 3 2 1
 5 4 3 2 1
 5 4 3 2 1

In [59]:
#7-while
n0 = 1
while n0<=5:
    n = 5
    st = ""
    while n>0:
        st +=" "+str(n)
        n=n-1
    print(st)
    n0 = n0+1

 5 4 3 2 1
 5 4 3 2 1
 5 4 3 2 1
 5 4 3 2 1
 5 4 3 2 1

In [60]:
#8-for
lst = ['E','D','C','B','A']
for i in lst:
    print(5*(" "+i))

 E E E E E
 D D D D D
 C C C C C
 B B B B B
 A A A A A

In [61]:
#8-while
lst = ['E','D','C','B','A']
n = 0
while n<5:
    print(5*(" "+lst[n]))
    n = n+1

 E E E E E
 D D D D D
 C C C C C
 B B B B B
 A A A A A

In [62]:
#9-for
for i in range(1,6):
    lst = ['E','D','C','B','A']
    st = ""
    for i in lst:
        st+=" "+i
    print(st)

 E D C B A
 E D C B A
 E D C B A
 E D C B A
 E D C B A

In [63]:
#9-while
n0 = 1
while n0<=5:
    lst = ['E','D','C','B','A']
    n = 0
    st = ""
    while n<5:
        st+=" "+lst[n]
        n = n+1
    print(st)
    n0 = n0+1

 E D C B A
 E D C B A
 E D C B A
 E D C B A
 E D C B A